In [5]:
import numpy as np
import pandas as pd

In [ ]:
# Assignment 4

# Using the datasets above: List_of_local_governments_in_Nigeria.csv and Nigeria_povertyrate_per_local_gov.csv
#     1. Merge the dataset together to form a single table.
#     2. Remove any redundant columns.
#     3. Calculate how population affects poverty rate of each local government.
#     4. Arrange each local government accordiing to the order of their poverty rate.
#     5. Find the percentage of poverty and sort in ascending order.

In [29]:
data1= pd.read_csv("list_of_local_government_areas_of_nigeria.csv")
data1.head()

  SNo Local Government Area            State  Unnamed: 3
0   1                Abadam      Borno State         NaN
1   2                 Abaji              FCT         NaN
2   3                  Abak  Akwa Ibom State         NaN
3   4             Abakaliki     Ebonyi State         NaN
4   5             Aba North       Abia State         NaN

In [42]:
dat=data1.drop(['Unnamed: 3'],axis=1)
dat

,SNo,Local Government Area,State
0,1,Abadam,Borno State
1,2,Abaji,FCT
2,3,Abak,Akwa Ibom State
3,4,Abakaliki,Ebonyi State
4,5,Aba North,Abia State
...,...,...,...
771,772,Zing,Taraba State
772,773,Zurmi,Zamfara State
773,774,Zuru,Kebbi State
774,NaN,NaN,NaN
775,"For more information, kindly visit : www.down...",NaN,NaN

In [28]:
data2= pd.read_csv("Nigeria povertyrate per local gov.csv")
data2.head()

,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover,Unnamed: 10
0,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661,NaN
1,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070,NaN
2,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022,NaN
3,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410,NaN
4,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145,NaN

In [41]:
dad=data2.drop(['Unnamed: 10'], axis=1)
dad

,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661
1,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070
2,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022
3,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410
4,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145
...,...,...,...,...,...,...,...,...,...,...
770,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452
771,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238
772,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134
773,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716
774,163,NGA,Nigeria,38,Zamfara,775,Zurmi,291140,0.486278,144487

In [50]:
df1=pd.merge(dat,dad,left_index=True,right_index=True)
df1

,SNo,Local Government Area,State,ID_0_x,ISO_x,NAME_0_x,ID_12_x,NAME_12_x,ID_23_x,NAME_23_x,...,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,1,Abadam,Borno State,163,NGA,Nigeria,1,Abia,1,Aba North,...,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661
1,2,Abaji,FCT,163,NGA,Nigeria,1,Abia,2,Aba South,...,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070
2,3,Abak,Akwa Ibom State,163,NGA,Nigeria,1,Abia,3,Arochukw,...,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022
3,4,Abakaliki,Ebonyi State,163,NGA,Nigeria,1,Abia,4,Bende,...,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410
4,5,Aba North,Abia State,163,NGA,Nigeria,1,Abia,5,Ikwuano,...,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,771,Zaria,Kaduna State,163,NGA,Nigeria,38,Zamfara,771,Maru,...,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452
771,772,Zing,Taraba State,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,...,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238
772,773,Zurmi,Zamfara State,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,...,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134
773,774,Zuru,Kebbi State,163,NGA,Nigeria,38,Zamfara,774,Tsafe,...,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716
774,NaN,NaN,NaN,163,NGA,Nigeria,38,Zamfara,775,Zurmi,...,163,NGA,Nigeria,38,Zamfara,775,Zurmi,291140,0.486278,144487

In [55]:
df1.dropna(inplace=True)
df1

,SNo,Local Government Area,State,ID_0_x,ISO_x,NAME_0_x,ID_12_x,NAME_12_x,ID_23_x,NAME_23_x,...,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,1,Abadam,Borno State,163,NGA,Nigeria,1,Abia,1,Aba North,...,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661
1,2,Abaji,FCT,163,NGA,Nigeria,1,Abia,2,Aba South,...,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070
2,3,Abak,Akwa Ibom State,163,NGA,Nigeria,1,Abia,3,Arochukw,...,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022
3,4,Abakaliki,Ebonyi State,163,NGA,Nigeria,1,Abia,4,Bende,...,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410
4,5,Aba North,Abia State,163,NGA,Nigeria,1,Abia,5,Ikwuano,...,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,770,Zangon Kataf,Kaduna State,163,NGA,Nigeria,38,Zamfara,770,Maradun,...,163,NGA,Nigeria,38,Zamfara,770,Maradun,222621,0.442796,98334
770,771,Zaria,Kaduna State,163,NGA,Nigeria,38,Zamfara,771,Maru,...,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452
771,772,Zing,Taraba State,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,...,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238
772,773,Zurmi,Zamfara State,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,...,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134
773,774,Zuru,Kebbi State,163,NGA,Nigeria,38,Zamfara,774,Tsafe,...,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716

In [56]:
df1.isnull().any()

SNo                      False
Local Government Area    False
State                    False
ID_0_x                   False
ISO_x                    False
NAME_0_x                 False
ID_12_x                  False
NAME_12_x                False
ID_23_x                  False
NAME_23_x                False
2014_Popul_x             False
Poverty_Ra_x             False
2014_Pover_x             False
ID_0_y                   False
ISO_y                    False
NAME_0_y                 False
ID_12_y                  False
NAME_12_y                False
ID_23_y                  False
NAME_23_y                False
2014_Popul_y             False
Poverty_Ra_y             False
2014_Pover_y             False
ID_0                     False
ISO                      False
NAME_0                   False
ID_12                    False
NAME_12                  False
ID_23                    False
NAME_23                  False
2014_Popul               False
Poverty_Ra               False
2014_Pover               False
dtype: bool

In [57]:
df1.drop_duplicates()

,SNo,Local Government Area,State,ID_0_x,ISO_x,NAME_0_x,ID_12_x,NAME_12_x,ID_23_x,NAME_23_x,...,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover
0,1,Abadam,Borno State,163,NGA,Nigeria,1,Abia,1,Aba North,...,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661
1,2,Abaji,FCT,163,NGA,Nigeria,1,Abia,2,Aba South,...,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070
2,3,Abak,Akwa Ibom State,163,NGA,Nigeria,1,Abia,3,Arochukw,...,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022
3,4,Abakaliki,Ebonyi State,163,NGA,Nigeria,1,Abia,4,Bende,...,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410
4,5,Aba North,Abia State,163,NGA,Nigeria,1,Abia,5,Ikwuano,...,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,770,Zangon Kataf,Kaduna State,163,NGA,Nigeria,38,Zamfara,770,Maradun,...,163,NGA,Nigeria,38,Zamfara,770,Maradun,222621,0.442796,98334
770,771,Zaria,Kaduna State,163,NGA,Nigeria,38,Zamfara,771,Maru,...,163,NGA,Nigeria,38,Zamfara,771,Maru,449533,0.502184,227452
771,772,Zing,Taraba State,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,...,163,NGA,Nigeria,38,Zamfara,772,Shinkafi,220070,0.390775,84238
772,773,Zurmi,Zamfara State,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,...,163,NGA,Nigeria,38,Zamfara,773,Talata-Mafara,131298,0.554036,72134
773,774,Zuru,Kebbi State,163,NGA,Nigeria,38,Zamfara,774,Tsafe,...,163,NGA,Nigeria,38,Zamfara,774,Tsafe,333706,0.565074,186716